.post__create
  #post__create-parse.post__create_hidden
  #post__create-parse_img.post__create_hidden
  .post__create-input-wrap
    .post__create-submit-wrap
      button#post__create-submit.post__create-submit Запостить
      .post__create-submit-img
    .post__create-input-photo
    textarea#post__create-input.post__create-input(type="text", placeholder="Введите текст или ссылку")